.navbar_doris{
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar_doris{
    border-radius: 4px;
  }
}


.navbar-inverse-doris {
  background-color: #ff9900;
  border-color: #ff9900;
}

/*adjust the text position*/
.navbar-align-right{
  float:right;
}

.navbar-inverse-doris .navbar-brand {
  color: #9d9d9d;
}
.navbar-inverse-doris .navbar-brand:hover,
.navbar-inverse-doris .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}

/*colors for the text without touching*/
.navbar-inverse-doris .navbar-text {
  color: #fff;
  font-weight: bold;
}
.navbar-inverse-doris .navbar-nav > li > a {
  color: #fff;
  font-weight: bold;
}

/*colors for the text when touching*/
.navbar-inverse-doris .navbar-nav > li > a:hover,
.navbar-inverse-doris .navbar-nav > li > a:focus {
  color: #0d0d0d;
  background-color: transparent;
  font-weight: bold;
}

/*colors for the text when staying in this page*/
.navbar-inverse-doris .navbar-nav > .active > a,
.navbar-inverse-doris .navbar-nav > .active > a:hover,
.navbar-inverse-doris .navbar-nav > .active > a:focus {
  color: #0d0d0d;
  background-color: #ff9900;
  font-weight: bold;
}
.navbar-inverse-doris .navbar-nav > .disabled > a,
.navbar-inverse-doris .navbar-nav > .disabled > a:hover,
.navbar-inverse-doris .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse-doris .navbar-toggle {
  border-color: #333;
}
.navbar-inverse-doris .navbar-toggle:hover,
.navbar-inverse-doris .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse-doris .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse-doris .navbar-collapse,
.navbar-inverse-doris .navbar-form {
  border-color: #101010;
}
.navbar-inverse-doris .navbar-nav > .open > a,
.navbar-inverse-doris .navbar-nav > .open > a:hover,
.navbar-inverse-doris .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-inverse-doris .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse-doris .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse-doris .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse-doris .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse-doris .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse-doris .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse-doris .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse-doris .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse-doris .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse-doris .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse-doris .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse-doris .navbar-link {
  color: #9d9d9d;
}
.navbar-inverse-doris .navbar-link:hover {
  color: #fff;
}
.navbar-inverse-doris .btn-link {
  color: #9d9d9d;
}
.navbar-inverse-doris .btn-link:hover,
.navbar-inverse-doris .btn-link:focus {
  color: #fff;
}
.navbar-inverse-doris .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse-doris .btn-link:hover,
.navbar-inverse-doris .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse-doris .btn-link:focus {
  color: #444;
}