.text_content{
	margin:10px; padding:20px;
}

.headline_padding{
	margin:10px; padding:15px;
}


.content-box{
	border: 8px dotted orange;
	border-radius: 15px;
    padding:35px;
    background: orange;
    background-clip: content-box;
}

.menu-size{
	font-size: 18px;
	line-height: 2;
}

.space{
	min-height: 100px;
}